/* write your override styles here */
#wall .tag-1{
 /* border-radius: 100%; 
  opacity: 0.5;
  filter: blur(8px);*/
  display: none;
}


.tag-2 {
  border-radius:50%;
  opacity: 0.5;
  
}

#parent + tag-4 {
  position: absolute;
}

